$color-grey-80: #424244;
$color-grey-75: #525355;
$color-grey-70: #616163;
$color-grey-60: #757577;
$color-grey-50: #9e9ea0;
$color-grey-40: #bdbdbf;
$color-grey-35: #ceced0;
$color-grey-32: #dadadc;
$color-grey-25: #e8e8ea;
$color-grey-15: #f3f3f5;
$color-grey-05: #fafafc;

$color-black-opaque: rgba(0, 0, 0, 0.3);
$color-black-opaque-dark: rgba(0, 0, 0, 0.4);
$color-black-opaque-darker: rgba(0, 0, 0, 0.5);
$color-black-opaque-light: rgba(0, 0, 0, 0.15);

$color-blue: #298ce7;
$color-blue-dark: #2274bf;
$color-blue-darker: #1e68ad;
$color-blue-light: #b5d2ee;

$color-flamingo: #f27452;

$color-red: #d12727;
$color-red-dark: #b52222;
$color-red-darker: #a11e1e;
$color-red-light: #f0bbbb;
$color-red-lighter: #ffe6e6;

$color-green: #64af48;
$color-green-dark: #508c3a;
$color-green-darker: #3e6e2d;
$color-green-light: #cbe6c1;

$color-mint-green: #48c192;
$color-mint-green-dark: #3b9e78;
$color-mint-green-darker: #308061;
$color-mint-green-light: #c3e6d8;

$color-mustard: #ffc404;
$color-mustard-light: #ffe294;

$color-mango: #fea426;
$color-mango-text: #e3890b;
$color-mango-dark: #d57f07;
$color-mango-light: #f7d8ab;

$color-brand-main: #528fce;
$color-brand-light: #d4e3f3;
$color-brand-lighter: #edf3fc;

$color-background: #fff;

$color-highlight: #ffeebc;
$color-dropdown: rgba(18, 18, 20, 0.4);

$color-button-text: $color-grey-60;
$color-button-text-dark: $color-grey-80;
$color-content-text: $color-grey-70;
$color-content-text-light: $color-grey-50;
$color-content-text-dark: $color-grey-80;
$color-disable-text: $color-grey-40;

$color-form-border: $color-grey-35;
$color-form-border-hover: $color-grey-40;
$color-form-border-selected: $color-grey-40;
$color-form-focus-highlight: rgba(66, 66, 100, 0.07);

$color-layout-section: $color-grey-25;
$color-layout-section-dark: $color-grey-32;
$color-nav-selected: $color-grey-15;
$color-nav-selected-light: $color-grey-05;
$color-primary: $color-brand-main;
$color-primary-light: $color-brand-light;
$color-primary-lighter: $color-brand-lighter;
$color-title-text: $color-grey-80;
$color-title-text-light: $color-grey-50;
