$z-index-sticky: 1010;
$z-index-searchbar: 1011;
$z-index-dropdown: 1013;

$z-index-screen: 1015;

$z-index-fixed: 1020;
$z-index-utility-menu: 1020;

$z-index-tooltip: 1025;

$z-index-help: 1028;
$z-index-async-jobs: 1028;

$z-index-modal: 1030;
$z-index-tooltip-modal: 1035;

$z-index-popover: 1040;
